{% extends 'base.html.twig' %}

{% block title %}Contactez-nous : Repar and go{% endblock %}
{% block meta %}
    <meta name="description" content="Contactez nous. Trouvez nous sur Metz centre. Réparation téléphone en ville. 1, av Ney 57000 Metz (GALERIE PARKING REPUBLIQUE)
    Téléphone : 0387749801
    ">
    <meta name="robots" content="index"/>
{% endblock %}
{% block body %}




    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                <h1 class="fw-bold ft70Mb" > Trouvez nous sur Metz </h1>
                <p class="fw-light fst-italic ft50Mb"> On est situé à Metz, place de la république dans la
                    galerie parking republique </p>

                <p class="fw-light fst-italic mt-3 mb-5 ft50Mb">
                    <i class="fa fa-coffee" aria-hidden="true"></i>   On vous offre le café en attendant de répondre à votre demande :)
                </p>


                <div class="row homeFaIconsContainer text-left mt-3">
                    <div class="col-4 col-lg-4 col-md-12 col-sm-12  mt-0 mb-lg-0 mb-md-5 mb-sm-5 ">
                        <div class="d-flex">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-phone fa-2x me-2 " aria-hidden="true"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class=" m-0 text-secondary ft50Mb">Téléphone :</p>
                                <h5 class="fw-bold ft50Mb">0387749801</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-12 col-sm-12 mt-0 mb-lg-0 mb-md-5 mb-sm-5">
                        <div class="d-flex">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-envelope-o  fa-2x me-2 " aria-hidden="true"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class=" m-0  text-secondary ft50Mb">Courrier:</p>
                                <h5 class="fw-bold ft50Mb">reparandgo57@gmail.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-3 mb-lg-0 mb-md-5 mb-sm-5  ">
                        <div class="d-flex">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-location-arrow fa-2x me-2 " aria-hidden="true"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class=" m-0  text-secondary ft50Mb">
                                    Adresse:</p>
                                <h5 class="fw-bold ft50Mb">1, av Ney 57000 Metz (GALERIE PARKING REPUBLIQUE)</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 col-lg-6 col-md-12 col-sm-12 d-flex  align-content-center ">
                <img  class="rounded float-end contactBoutiqueImg"  src="{{ asset("build/general/boutique2.png") }}"  alt="boutique-repar-and-go">
            </div>
        </div>

    </div>
{% endblock %}
