{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .parallax {
        /* The image used */


        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        align-items: center;
        font-size: 67px;
        font-weight: 700;
        color: white;
        filter: contrast(0.5);
    }



    .parallax .title{
        margin: 0 auto;
        filter: contrast(1);
        background: black;
        padding: 0 100px 7px 100px;
        display: none;
    }
    .antiParalaxContent{
        height: 41vh;
        display: flex;
        justify-content: center;
        padding: 47px 0;
        background: radial-gradient(circle, rgba(252,252,252,1) 44%, rgba(222,223,223,1) 100%);
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
    .antiParalaxContent .title{
        font-size: 43px;
        font-weight: 400;
    }
    .antiParalaxContent .horaires{
        font-size: 21px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 66px;
    }
    .antiParalaxContent .horaires div{
      padding: 0 20px;
    }
    .img-direction-blue img{
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
</style>

    <link rel="stylesheet" href="{{ asset("css/clesMinute.css") }}"  >
    <link rel="stylesheet" href="{{ asset("css/computerReparation.css") }}"  >



{#    <div style="#}
{#    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('images/contact/boutique.jpg');#}

{#        " id="hero-image-navbar-trigger" class="hero-image">#}

{#    </div>#}

    <div style="
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('images/general/boutiqueCoverIphoneRepar.jpg');

        " id="hero-image-navbar-trigger" class="hero-image">

    </div>
    <div  class="parallax" style="background-image: url('images/contact/boutique.jpg'); display: none">
        <div class="title"> Contact </div>
    </div>

    <div class="antiParalaxContent">
        <div class="title"> Retrouvez nous sur Metz</div>
        <div class="horaires">
                <div><i class="fas fa-clock"></i> Lundi – Jeudi : 10:00 – 19:00</div>
                <div> <i class="fas fa-clock"></i>   Vendredi : 10:00-12:00/14:00-19:00 </div>
                <div>  <i class="fas fa-clock"></i> Samedi : 10:00 – 19:00 </div>
                <div> <i class="fas fa-clock"></i> Dimanche Fermé </div>
        </div>
    </div>

    <div class="parallax" style="background-image: url('images/contact/entree_interieur.jpg');"></div>



    <div   class="yav-container">
        <div class="container" style="display: flex;    justify-content: center;">
            <div class="contact-container" style=" box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 20%);  padding: 31px 31px;">
                <div class="contact-content" style="display: display: flex; ">
                    <div class="contact-title" style="font-size: 33px;text-align: center;font-weight: 500;">Visitez notre bureau à Metz</div>
                    <div class="contact-text">
                        <div style="display: none">
                            <h5 style="text-align: left; margin-top: 25px"> horraires </h5>
                            <div>
                                <i class="fas fa-clock"></i> Lundi – Jeudi : 10:00 – 19:00   <br>
                                <i class="fas fa-clock"></i>   Vendredi : 10:00-12:00/14:00-19:00 <br>
                                <i class="fas fa-clock"></i> Samedi : 10:00 – 19:00 <br>
                                <i class="fas fa-clock"></i> Dimanche Fermé  <br>
                            </div>
                        </div>
                        <h5 style="text-align: left; margin-top: 25px"> Coornodées </h5>
                        <div>
                            <i style="font-size: 29px;" class="fa fa-phone" aria-hidden="true"></i> 0387749801
                        </div>
                        <div>
                            <i style="font-size: 29px;" class="fa fa-map-marker" aria-hidden="true"></i>
                            1, av Ney 57000 Metz
                            (GALERIE PARKING REPUBLIQUE)
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-maps" style="    box-shadow: 14px 0px 20px 6px rgb(0 0 0 / 20%);">
                <img src="{{ asset("images/general/googleMaps.PNG") }}" alt="googleMaps">
            </div>


        </div>
    </div>




{% endblock %}
