{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


    <div id="hero-image-navbar-trigger" style="height: 5vh;margin-bottom: 10vh"></div>

    <div class="container mt-70">
        <div class="row">
            <div class="col-12">
                <h1> Répar&Go Réparation sur Centre-ville de Metz</h1>
            </div>
        </div>

        <div class="row contact-information-container ">
            <div class="col-6">
                <div class="row contact-information " >
                    <div class="col-12">
                        <h5> Horraires </h5>
                    </div>
                    <div class="col-12">
                        <i class="fas fa-clock"></i> Lundi – Jeudi : 10:00 – 19:00
                    </div>
                    <div class="col-12">
                        <i class="fas fa-clock"></i>   Vendredi : 10:00-12:00/14:00-19:00
                    </div>
                    <div class="col-12">
                        <i class="fas fa-clock"></i> Samedi : 10:00 – 19:00
                    </div>
                    <div class="col-12">
                        <i class="fas fa-clock"></i> Dimanche Fermé
                    </div>

                    <div class="col-12">
                        <h5> Coordonées </h5>
                    </div>
                    <div class="col-12">
                        <i style="font-size: 29px;" class="fa fa-map-marker" aria-hidden="true"></i>
                        1, av Ney 57000 Metz
                        (GALERIE PARKING REPUBLIQUE)
                    </div>

                </div>
            </div>
            <div class="col-6 googleMapsImageContainer" style="padding: 0">
                <img  src="{{ asset("build/general/googleMaps.png") }}" alt="googleMaps">
            </div>
            <div class="col-12 img-direction-blue" >
                <div class="parallax_blue_direction"></div>
            </div>

        </div>

        <div class="row mt-70">

            <div class="col-12  mt-70">
                <h3> Voici quelle que plus de détails pour nous trouver  :) </h3>
                <p>
                    On est situé dans le parking de la place république, une fois vous decendez les escaliers
                    pour arriver dans le couloir de parking, vous allez nous trouver à votre gauche
                </p>
            </div>
            <div class="col-12 ">
                <div class="contact-md-img-container mt-70">
                    <img src="{{ asset("build/contact/collage_contact_img.png") }}" alt="direction-img">
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50vh">

    </div>
{% endblock %}
