{% extends 'base.html.twig' %}

{% block title %}Mention légales{% endblock %}
<meta name="robots" content="noindex, nofallow"/>

{% block body %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Oswald', sans-serif ;
        }
    </style>


    <div id="hero-image-navbar-trigger" style="height: 5vh;margin-bottom: 10vh"></div>
    <div class="container">
        <div class="row">
            <h1>Éditeur </h1>
            <p>L'édition du site https://www.reparandgo.com/ est assuré par la Société REPAR & GO
            au capital de  1 000,00 € euros, immatriculée au RCS de Metz sous le numéro B 853 473 239 dont
                le siège social est situé au 1, av Ney 57000 Metz
            </p>
            <p> N° de TVA intracommunautaire : FR66853473239</p>
            <p> Le directeur de la publication est  Selcuk KAMACI </p>
            <p>adresse : 1, av Ney 57000 Metz (GALERIE PARKING REPUBLIQUE)</p>
            <p> mail : reparandgo57@gmail.com</p>
            <p> téléphone : 0387749801</p>
        </div>


        <div class="row">
            <h1>Hébergement </h1>
            <p>Adresse postale : O2SWITCH 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand </p>
            <p>SARL o2switch au capital de 7500€</p>
            <p>RCS : Clermont-Ferrand – SIRET : 510 909 80700016 – TVA : FR35510909807 </p>
             <p>   La marque o2switch est déposée INPI sous le numéro 09 3 645 729.</p>
        </div>

        <p class="fst-italic"> Exercice du droit d'accès : Conformément à l'article 34 de la loi "Informatique et Libertés",
            vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données
            qui vous concernent. Pour exercer ce droit d'accès, adressez-vous à :,Selcuk Kamaci -
            1, av Ney 57000 Metz - 0387749801</p>
    <div>
	
	</div class="row">
	<hl>Editeur </hl>
	<p>CONDITION GENERALES DE VENTE (CCV)
	<p>#1.PRÉAMBULE
Les présentes Conditions Générales de Vente (ci-après « CGV ») régissent les relations contractuelles entre Repar and Go et vous, et sont applicables à toutes les ventes de prestations de service (réparation, transfert de données, suppression de données…), de produits (accessoires et protection d’écran) de cartes cadeau Repar and Go. Vous êtes un consommateur au sens de la loi si vous agissez à des fins qui n’entrent pas dans le cadre de votre activité commerciale, industrielle, artisanale, libérale ou agricole. Vous êtes considéré comme étant professionnel, si vous ne répondez pas à la définition ci-dessus. Nos produits ont des performances compatibles avec des usages professionnels, même si Repar and Go n’a pas vocation à vendre à des professionnels.

Vous déclarez avoir pris connaissance des présentes CGV. Les présentes CGV peuvent être modifiées à tout moment et sans préavis par Repar and Go, les modifications étant alors applicables à toutes les ventes postérieures. En tout état de cause, seules prévalent les CGV à jour.

Les présentes CGV s’appliquent à l’exclusion de toute autre. Vous déclarez être majeur et disposer de la pleine capacité juridique.

#2.PRESTATIONS DE SERVICE
2.1. Lieu et durée
En fonction de la nature de la panne, la réparation pourra être effectuée sur place, dans un de nos différents points de vente ou dans notre atelier central, à Paris. Dans le cadre d’une réparation sur un produit de marque Apple la prestation pourra dans certains cas être confiée à Apple par envoi postal, le constructeur assurera alors la réparation.

La durée de la réparation est variable en fonction de la nature des réparations à effectuer et ne pourra pas excéder 30 jours à compter du jour où vous avez déposé l’appareil dans un de nos points de vente, ou à compter du jour de la réception de l’appareil dans notre atelier. Repar and Go e pourra être tenu responsable d’un délai de traitement supplémentaire relatif à une prise en charge constructeur.

2.2. Obligations du client
Préalablement au dépôt de votre appareil, vous êtes tenu d’effectuer une sauvegarde de vos données personnelles contenues dans votre appareil. Repar and Go ne saurait être tenu responsable de la perte éventuelle ou de la destruction des données stockées dans votre appareil.

Vous êtes tenu de déclarer toute information utile concernant les dysfonctionnements de votre appareil et notamment, sans que cette liste soit exhaustive :

- si votre appareil a été en contact avec de l’eau;
- si votre appareil a subi un choc;
- si votre appareil a été exposé à une forte chaleur;
- si votre appareil a déjà été réparé par un tiers ou a subi des modifications;
- si votre appareil est un produit commercialisé hors Europe.
2.3. Devis et prise de rendez-vous
Les devis de réparation effectués sur le site www.Repar and Go.com sont réalisés à titre indicatif, ils pourront être amenés à évoluer à la suite du diagnostic réalisé en point de vente. Par conséquent, le tarif et le délai de réparation annoncés sur le site www.Repar and Go.com pourront également évoluer.

Les réparations de smartphones, tablettes ou consoles peuvent être réalisées avec ou sans rendez-vous sur le site www.Repar and Go.com. Repar and Go se réserve le droit d’annuler un rendez-vous jusqu’au jour de celui-ci. Les plages horaires des rendez-vous sont exposées à titre indicatif.

Une prise de rendez-vous ne saurait garantir la réalisation de la prestation de réparation durant celle-ci. Certains produits pourront nécessiter une intervention dans un autre lieu occasionnant un délai supplémentaire. En cas de commande de pièce détachées nécessaires à la réparation Repar and Go ne saurait garantir leur disponibilité, leur délai d’approvisionnement et ne pourra être tenu responsable de la non-réalisation de la prestation de service.

Dans le cadre de la prise de rendez-vous chez Repar and Go via le site apple.com, les conditions générales de vente Apple seront celles appliquées à la prestation de service.

2.4. Diagnostic et ordre de réparation
Avant toute réparation, un diagnostic de votre appareil est réalisé par l’un de nos réparateurs. Il porte sur les principaux composants et fonctionnalités de votre appareil. Dans le cas où le diagnostic du produit est impossible (ex : l’appareil ne s’allume pas), Repar and Go ne saurait être tenu responsable de la remise en marche de l’appareil. Le client reconnait que l’absence de diagnostic peut signifier des réparations additionnelles à celles annoncées, voir l’irréparabilité de son produit. À l’issue du diagnostic, Repar and Go peut refuser d’effectuer les réparations, sans motif. Ce diagnostic est retranscrit sur le document intitulé « Ordre de réparation » ou « Confirmation de travail » et indique les dysfonctionnements constatés et les éléments que vous souhaitez réparer.

Vous signez l’Ordre de réparation avant toute réparation. La signature de l’Ordre de réparation vaut acceptation des présentes CGV mais n’engage pas Repar and Go à restituer le produit réparé si un défaut irréparable est constaté lors de l’intervention. Le code de déverrouillage de votre appareil vous sera demandé afin de le tester. A aucun moment Repar and Go ne consulte ou n’entre en possession des données présentes dans votre appareil. La sauvegarde de vos données doit être effectuée avant toute réparation, celles-ci pourront être effacer durant la procédure.

Le client reconnait et accepte que l’intervention de Repar and Go sur son appareil peut entrainer, dans certains cas, la rupture de la garantie constructeur et/ou vendeur de l’appareil.

2.5. Annulation
En signant l’ordre de réparation ou la confirmation de travail, vous consentez à ce que Repar and Go commence la réparation ou la prise en charge de votre produit et reconnaissez que vous ne pouvez pas annuler la prestation de service et ne pouvez exercer de droit de rétractation une fois la prestation de service effectuée.

2.6. Restitution de l'appareil
Une fois réparé, et avant d’effectuer le paiement de la réparation, vous êtes tenu de vérifier le bon fonctionnement de votre appareil et de l’ensemble de ses fonctionnalités.

Lorsque le règlement correspondant à la réparation est effectué, une facture vous est remise, dont un exemplaire est signé par vous-même et conservé par Repar and Go. L’autre exemplaire de la facture vous est remis. La signature de cette facture atteste du bon fonctionnement de votre appareil lors de la restitution. Ainsi, Repar and Go ne pourra être tenu responsable de tout dysfonctionnement constaté après signature.

La propriété des pièces remplacées est cédée à Repar and Go, elles ne seront pas restituées. Repar and Go pourra recycler ou faire toute utilisation, notamment commerciale, des pièces remplacées.


#3.PRODUITS
3.1. Produits reconditionnés
Les produits reconditionnés vendus sont des produits d’occasion que nous avons reconditionnés. Par conséquent, certaines pièces d’origine ont pu être réparées, modifiées ou échangées. Les pièces que nous utilisons pour le reconditionnement ne sont pas nécessairement identiques à celles d’origine. L’étanchéité des produits n’est pas garantie. Nos produits reconditionnés sont 100% fonctionnels, testés par nos experts sur plus de 34 points de contrôle et nettoyés avec un produit antibactérien. Ils sont classés par grades esthétiques. Repar and Go ne pourra en aucun cas être considéré comme un revendeur ou un distributeur des produits vendus reconditionnés. À cet égard, Repar and Go n’est lié par aucun accord ou contrat avec les fabricants des produits vendus reconditionnés.

3.1. Accessoires
Repar and Go propose également la vente d’accessoires neufs en point de vente et la pose de film de protection HYDROGEL.

Les films de protection HYDROGEL et HYDROGEL antibactérien sont ultra-résistants et protègent des impacts extérieurs au niveau de l’écran. Un choc sur une partie non protégée de votre appareil comme le dos, la tranche ou la partie nue de votre écran, une déformation du châssis exerçant une pression ou compression latérale sur l’écran ou d’autres dommages importants pourraient endommager votre appareil sous le film de protection et ce sans que la responsabilité de Repar and Go soit engagée. Repar and Go recommande l’utilisation complémentaire d’une coque.

Dans le cas d’HYDROGEL antibactérien, la solution ne dispense pas des gestes barrières. Repar and Go ne peut en aucun cas garantir l’absence de contamination ou de maladie pour l’utilisateur. HYDROGEL antibactérien n’est pas un dispositif médical.

#4.CARTE CADEAU
4.1. Conditions générales d’achat
La carte cadeau peut être achetée et utilisée uniquement dans un point de vente Repar and Go et a une durée de validité de douze (12) mois à compter de sa date d’activation qui a lieu au moment de son achat. A l’issue de la période de validité, la carte cadeau ne pourra plus être utilisée. Le solde restant sur la carte cadeau sera alors perdu. La carte cadeau ne sera, par ailleurs, ni renouvelée, ni échangée.

4.1. Utilisation de la carte
Elle peut être utilisée comme moyen de paiement, en une ou plusieurs fois, pendant sa durée de validité et dans la limite de son chargement. Jusqu’à quatre (4) cartes cadeaux peuvent être utilisées pour un achat unique.

Si le solde sur la carte cadeau n’est pas suffisant pour couvrir le montant de l’achat, il vous sera demandé de compléter par autre moyen de paiement. Pour connaître le solde de la carte cadeau, il faudra se rendre dans un point de vente Repar and Go. La carte cadeau ne peut être ni revendue, ni échangée, ni remboursée même partiellement, ni portée au crédit d’une carte ou d’un compte bancaire, ni faire l’objet d’un escompte et ne pourra donner lieu à aucune contrepartie monétaire.

4.1. Perte et vol de la carte cadeau
Vous êtes responsable de la carte cadeau achetée. La somme sur une carte cadeau perdue ou volée ne pourra pas faire l’objet d’un remboursement ou d’une opposition.


#5.PRIX
Les prix de nos produits sont indiqués sur chaque produit. Les prix de nos prestations sont affichés sur le site www.Repar and Go.com. Nos prix sont affichés en euros toutes taxes comprises (TTC).

Repar and Go peut, à tout moment, modifier des produits ou services proposés en ligne ou les prix applicables à ces produits ou services, sans avis préalable. Les informations fournies en ligne sur les produits et services peuvent être obsolètes et Repar and Go ne s’engage pas à actualiser les informations données en ligne.

Repar and Go se réserve le droit de modifier ses prix à tout moment mais les produits seront facturés sur la base des tarifs en vigueur au moment de votre validation de paiement. Les produits demeurent la propriété de la société Repar and Go jusqu’au paiement complet du prix.


#6.MODALITES DE PAIEMENT
Le règlement peut être effectué en espèces, carte cadeau, virement instantanné, carte bleue, Paypal, Paylib.

Les seules cartes cadeaux acceptées sont celles délivrée par Repar and Go. Aucune autre carte cadeau, Fnac, Darty, Cadeos, etc. Ne sera acceptée.

En effectuant votre achat, vous autorisez Repar and Go à débiter votre compte bancaire du montant relatif au prix indiqué. Vous confirmez être le titulaire légal de la carte du compte à débiter et que vous êtes légalement en droit d’en faire usage.


#7.TRANSFERT DES RISQUES
Il est rappelé qu’au moment où vous prenez physiquement possession d’un produit ou d’une carte cadeau, le risque de perte et d’endommagement vous est transféré.

L’appareil sera restitué sur présentation de l’Ordre de réparation ou de la confirmation de travail.

Sans nouvelles du client sous 366 jours, l’appareil déposé sera considéré abandonné et les droits de propriété transférés à Repar and Go.


#8.GARANTIES
8.1. Garantie commerciale des réparations


La garantie commerciale est applicable sur les seuls éléments ayant donné lieu à une réparation par Repar and Go, conformément à l’Ordre de réparation. Par exception à ce qui précède, et concernant la garantie de la batterie, la garantie commerciale court pendant une durée de trois (3) mois, à compter de la restitution de votre appareil, après réparation. À la suite d'une réparation, Repar and Go ne garantit pas l’étanchéité du produit.

La garantie commerciale couvre les pannes similaires à celles ayant donné lieu au dépôt initial de l’appareil liées à l’utilisation normale de votre produit. Cependant, la garantie ne couvre pas les pannes liées à une modification de matériel, un accident ou un choc, une détérioration volontaire, un dégât causé par l’eau, le feu, l’humidité, la foudre et de manière plus générale en cas d’utilisation anormale de votre appareil. Toute intervention extérieure à celle de Repar and Go peut causer des dommages qui ne seront pas couverts par la garantie commerciale Repar and Go.

Pendant le délai de la garantie commerciale, et si vous constatez un dysfonctionnement d’un élément ayant donné lieu à réparation par Repar and Go, vous êtes invités à vous rendre, muni de l’original de votre facture d’achat, dans un des différents points de vente Repar and Go dont les adresses figurent sur le site www.Repar and Go.net. En fonction de la nature du dysfonctionnement, et sous réserve que l’appareil n’ait pas été manifestement endommagé depuis votre achat, votre appareil sera :

- soit réparé sur place par nos réparateurs;
- soit envoyé à nos frais à notre atelier. Une fois réparé, votre appareil vous sera envoyé, à nos frais, dans le point de vente de votre choix.
Un refus de prise en charge de votre appareil par l’atelier central Repar and Go sera considéré comme un renoncement à votre garantie commerciale.

Préalablement à la réparation, vous êtes tenu d’effectuer une sauvegarde de vos données personnelles contenues dans votre appareil. La durée des réparations ne pourra pas excéder 30 jours à compter du jour où vous avez déposé le produit dans un de nos points de vente, ou à compter du jour de la réception du produit à l’atelier. Pendant la durée des réparations, Repar and Go n’est pas tenu de mettre à votre disposition un appareil de remplacement. Dans le cadre de la garantie commerciale, aucun remboursement ne sera effectué. À la suite d’une réparation, l’étanchéité de l’appareil ne saurait être garantie.

Dans le cas où, à la suite de manipulations, Repar and Go aurait endommagé votre appareil entrainant la déclaration du produit comme « irréparable » par notre atelier central. Un remboursement de votre appareil sur la base tarifaire d’un appareil reconditionné de modèle équivalent en parfait état vous sera adressé par virement bancaire.

Si votre produit a été remplacé dans le cadre d’une prise en charge d’un constructeur partenaire (Apple, Samsung, etc.), la garantie applicable est celle du constructeur.

8.2. Garantie commerciale HYDROGEL
La pose de la protection d’écran HYDROGEL est réalisée en point de vente Repar and Go. La prestation est garantie 15 jours contre le décollement ou l’apparition de bulles sous le film de protection. Repar and Go se réserve le droit de refuser la pose sans motif.

Les films de protection HYDROGEL et HYDROGEL Antibactérien sont ultra-résistants et protègent des impacts extérieurs au niveau de l’écran. Un choc sur une partie non protégée de l’appareil comme le dos, la tranche ou la partie nue de l’écran, une déformation du châssis exerçant une pression ou compression latérale sur l’écran ou d’autres dommages importants pourraient endommager l’appareil sous le film de protection et ce sans que la responsabilité de Repar and Go soit engagée. Repar and Go recommande l’utilisation complémentaire d’une coque.

Dans le cas d’HYDROGEL Antibactérien, la solution ne dispense pas des gestes barrières. Repar and Go ne peut en aucun cas vous garantir de l’absence de contamination ou de maladie à votre égard. HYDROGEL Antibactérien n’est pas un dispositif médical.

HYDROGEL Replace est une solution de remplacement d’HYDROGEL proposée au prix de 9.90€ ttc. Pour en bénéficier l’ancien film de protection HYDROGEL devra être encore présent sur l’appareil, une preuve d’achat pourra être demandée si un courriel n’avait pas été fournis au moment de l’achat et l’appareil sur lequel la nouvelle protection est posée devra être identique à l’ancien. HYDROGEL Replace n’est valable que sur la taille SMALL du produit.

8.3. Garantie légale de conformité des produits
Conformément à nos obligations légales, Repar and Go répond des défauts de conformité apparaissant sur votre produit (produits reconditionnés et accessoires, hors HYDROGEL) pendant deux (2) ans à compter de sa délivrance.

Pour les produits comportant des éléments numériques fournis en continu pendant une période supérieure à deux (2) ans, Repar and Go répond des défauts de conformité apparaissant sur ces éléments numériques pendant la durée prévue au contrat.

Il est rappelé que dans le cadre de la garantie légale de conformité, le consommateur :

- bénéficie d'un délai de deux ans à compter de la délivrance du bien pour agir vis-à-vis de son vendeur;
- peut choisir gratuitement entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l'article L. 217-12 du code de la consommation. A défaut, si la réparation ou l’échange sont impossibles ou n’ont pu être mis en œuvre dans le mois suivant la prise en charge du produit, Repar and Go vous remboursera le prix de votre produit;
- est dispensé de rapporter la preuve de l'existence du défaut de conformité du bien pendant cette durée.
Pour les biens comportant des éléments numériques fournis en continu pendant une durée supérieure à deux ans, le consommateur est dispensé de rapporter la preuve de l’existence du défaut de conformité affectant l’élément numérique contenu dans le bien pendant la durée prévue au contrat.

Pour les biens achetés d’occasion ou reconditionnés et au-delà de 12 mois à compter de la délivrance du produit, il vous reviendra de prouver l’existence du défaut de conformité allégué au moment de la délivrance.

La garantie légale de conformité s'applique indépendamment de la garantie commerciale pouvant éventuellement couvrir votre bien.

La réparation de votre produit dans le cadre de la garantie légale de conformité entrainera un prolongement de 6 mois de ladite garantie.

Lorsque le produit est échangé dans le cadre de la garantie légale de conformité en raison de l’impossibilité pour Repar and Go de pouvoir réparer le produit dans le délai d’un (1) mois suivant votre demande, la garantie du produit de remplacement est alors renouvelée pour une durée de deux (2) ans. En revanche, lorsque le bien est remplacé à votre demande, la garantie légale de conformité ne pourra faire l’objet d’un renouvellement.

Pour faire jouer la garantie légale de conformité, les produits doivent nous être retournés ou rapportés en magasin dans l'état dans lequel vous les avez reçus avec l'ensemble des éléments (accessoires, notice…), ainsi qu'une copie de la facture d'achat.

Préalablement à la réparation, vous êtes tenu d’effectuer une sauvegarde de vos données personnelles contenues dans votre appareil. La durée des réparations ne pourra pas excéder 30 jours à compter du jour où vous avez déposé le produit dans un de nos points de vente, ou à compter du jour de la réception du produit à l’atelier.

#9.RÉCLAMATION
Vous pouvez présenter toute réclamation en contactant la société Repar and Go par mail à l'adresse suivante : reparandgo57@gmail.com


#10.FORCE MAJEURE
Repar and Go décline toute responsabilité dans l’exécution de ses obligations aux termes des présentes en cas de survenance d’un cas fortuit ou de force majeure qui en empêcherait l’exécution


#11.RÉSOLUTION DES LITIGES
Toutes les clauses figurant dans les présentes CGV sont soumises au droit français. La langue du présent contrat est le français. Il est donné compétence aux seuls tribunaux français pour tous les litiges relatifs à la validité, l’interprétation, l’exécution, la résiliation des présentes.



#12.PROTECTION DES DONNÉES
Les informations et données personnelles vous concernant sont collectées par Repar and Go en tant que responsable de traitement. Elles sont nécessaires à la gestion de votre commande ou dossier de réparation ainsi que pour nous permettre d’améliorer et personnaliser les services que nous vous proposons et les informations que nous vous adressons.
Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires. Conformément à la règlementation sur la protection des données personnelles, vous pouvez exercer vos droits (accès, rectification, suppression, opposition, limitation et portabilité le cas échéant) et définir le sort de vos données personnelles « post mortem » en écrivant à reparandgo57@gmail.com





{% endblock %}
