{% extends 'base.html.twig' %}

{% block title %}Mention légales{% endblock %}
<meta name="robots" content="noindex, nofallow"/>

{% block body %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Oswald', sans-serif ;
        }
    </style>


    <div id="hero-image-navbar-trigger" style="height: 5vh;margin-bottom: 10vh"></div>
    <div class="container">
        <div class="row">
            <h1>Éditeur </h1>
            <p>L'édition du site https://www.reparandgo.com/ est assuré par la Société REPAR & GO
            au capital de  1 000,00 € euros, immatriculée au RCS de Metz sous le numéro B 853 473 239 dont
                le siège social est situé au 1, av Ney 57000 Metz
            </p>
            <p> N° de TVA intracommunautaire : FR66853473239</p>
            <p> Le directeur de la publication est  Selcuk KAMACI </p>
            <p>adresse : 1, av Ney 57000 Metz (GALERIE PARKING REPUBLIQUE)</p>
            <p> mail : reparandgo57@gmail.com</p>
            <p> téléphone : 0387749801</p>
        </div>


        <div class="row">
            <h1>Hébergement </h1>
            <p>Adresse postale : O2SWITCH 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand </p>
            <p>SARL o2switch au capital de 7500€</p>
            <p>RCS : Clermont-Ferrand – SIRET : 510 909 80700016 – TVA : FR35510909807 </p>
             <p>   La marque o2switch est déposée INPI sous le numéro 09 3 645 729.</p>
        </div>

        <p class="fst-italic"> Exercice du droit d'accès : Conformément à l'article 34 de la loi "Informatique et Libertés",
            vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données
            qui vous concernent. Pour exercer ce droit d'accès, adressez-vous à :,Selcuk Kamaci -
            1, av Ney 57000 Metz - 0387749801</p>
    </div>
{% endblock %}
