{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div id="hero-image-navbar-trigger" style="height: 5vh;"></div>
<div id="sloganContent" class="yav-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  col-md-12" >
                <h1> Réparation rapide et efficace! </h1>
                <p style="margin-top: 2rem">Écran cassé? Batterie non fonctionnelle? Téléphone bloqué? Faites confiance à notre service de réparation et déblocage et confiez nous votre téléphone. Nous vous le remettrons comme neuf en un rien de temps!</p>
            </div>
        </div>
        <figure class="ipadClined"> <img src="{{ asset("build/services/tablette/ipad2.png") }}" alt="tabllete" ></figure>
    </div>
</div>

<div id="" class="yav-container yav-container-dark">
    <div class="container" >
        <div class="row">
            <div class="col">
                <h1> <i class="fa fa-external-link" aria-hidden="true"></i> Tablette android</h1>
                <p>
                   Nous avons une solution pour tout problème, nous avons des techniciens qualifié pour
                réparation des tablettes android </p>
            </div>
            <div class="col">
                <h1> <i class="fa fa-cogs" aria-hidden="true"></i> Tablette IOS</h1>
                <p>
                    Un problème avec votre tablette IOS ? On fait répataion des tabllete IOS,
                rendez-vous à Repar and Go ! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="h-bold mt-100 mb-4" >La Tranquilité D'esprit pour vos problèmes informatiques </h1>
                <p>Chez Répar' & Go avec une expérience plus du 10 ans dans le domaine, nous sommes à votre service pour diagnostiquer gratuitement et réparer tout,
                    du simple écran cassé aux réparations les plus avancées impliquant la micro-soudure.
                </p>


                <figure class="tabletteWhite"><img src="{{ asset("build/services/tablette/tabletteWhite.png") }}" alt="ipad"></figure>
            </div>
        </div>
    </div>
</div>




<div  class="yav-container"  style="margin-top: 50px;">
    <div class="container computerIcons">


        <div class="row">
            <div class="col">
                <i class="fa fa-bug" aria-hidden="true"></i>
                <div>Virus</div>
                <p>Nettoyage de virus de votre tablette avec nos logiciels spécialisé</p>
            </div>
            <div class="col">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <div>Mise à jour</div>
                <p>Mise à jour de vos système d'exploitation ou de vos logiciels que vous souhaitez </p>
            </div>
            <div class="col">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <div>Sauvegarde des données</div>
                <p> On effectue le récupération des données, et leur sauvegarde, plus craint de perde de données </p>
            </div>
        </div>
    </div>
</div>


    {{ encore_entry_script_tags('service_tablette') }}

{% endblock %}
