{% extends 'base.html.twig' %}

{% block title %}Réparation ordinateur Repar and go {% endblock %}

{% block body %}





    <div id="hero-image-navbar-trigger" style="height: 5vh;"></div>



<div  class="yav-container" style="padding: 120px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 offset-lg-5" >
                <h1>  Votre expert de la réparation d’ordinateurs à Metz! </h1>
                <p style="margin-top: 2rem">Spécialisé dans les réparations d’ordinateurs portables et de bureau pour les particuliers et entreprises de la ville de Metz et alentours.</p>
            </div>
        </div>
        <figure class="acerComputers drop-shadow"> <img src="{{ asset("build/services/ordinateur/acer-laptop.png") }}" alt="acerlaptops" ></figure>
    </div>
</div>

<div  class="yav-container" >
    <div class="container  homeFaIconsContainer text-center">


        <div class="row mb-lg-0 mb-md-5 mb-sm-5 ">
            <div class="col col-lg-4 col-md-12 col-sm-12 mb-lg-0 mb-md-5 mb-sm-5 ">
                <i class="fa fa-bug" aria-hidden="true"></i>
                <h5  class="fw-bold">Virus</h5>
                <p>Formatage de ordinateur </p>
            </div>
            <div class="col col-lg-4 col-md-12 col-sm-12 mb-lg-0 mb-md-5 mb-sm-5 ">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <h5 class="fw-bold" >Mise à jour</h5>
                <p>Mise à jour de vos systèmes d'exploitation ou de vos logiciels</p>
            </div>
            <div class="col col-lg-4 col-md-12 col-sm-12">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <h5 class="fw-bold">Sauvegarde des données</h5>
                <p> On effectue le récupération des données, et leur sauvegarde</p>
            </div>
        </div>
        <div class="row mt-lg-0 mt-md-0 mt-sm-5">
            <div class="col col-lg-4 col-md-12 col-sm-12 mb-lg-0 mb-md-5 mb-sm-5 ">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <h5 class="fw-bold" >Configuration d'ordinateurs</h5>
                <p> Votre ordinateur a besoin d'une configuration ? On installe le système d'exploitation souhaité et on configure votre ordinateur</p>
            </div>
            <div class="col col-lg-4 col-md-12 col-sm-12 mb-lg-0 mb-md-5 mb-sm-5  ">
                <i class="fa fa-sliders" aria-hidden="true"></i>
                <h5 class="fw-bold" > Installation de pilotes</h5>
                <p> Des soucis avec vos pilotes ? On répare ou on réinstalle vos pilotes nécessaires</p>
            </div>
            <div  class="col col-lg-4 col-md-12 col-sm-12">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <h5 class="fw-bold" >Installation de logiciels</h5>
                <p> Vous avez besoin d'installer des logiciels et vous ne savez pas comment ? On est là pour vous</p>
            </div>
        </div>
    </div>
</div>



<div id="serviceOrdi-dissableComputer-declancheur"  class="yav-container yav-container-dark" >
    <div class="container">
        <div class="row">
            <div class="serviceOrdi-dissableComputer-content col-md-12 col-lg-6 offset-lg-6" >
                <h1>Réparation! </h1>
                <p style="margin-top: 2rem">Notre équipe de Metz est à l'aise avec la réparation de tous types d'appareils et ordinateurs.
                    Peu importe le problème, qu'il s'agisse d'un ordinateur portable ou fixe, d'une composante spécifique qui a rendu l'âme ou d'un logiciel malveillant qui a envahi votre ordinateur, Repar' and Go s'en occupe.</p>
            </div>
        </div>
        <figure class="serviceOrdi-dissableComputer"> <img src="{{ asset("build/services/ordinateur/dissambled-computer.jpg") }}" alt="ordinateurPiece" ></figure>

    </div>
</div>








    {{ encore_entry_script_tags('service_ordinateur') }}


{% endblock %}
