{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}





    <div id="hero-image-navbar-trigger" style="height: 5vh;margin-bottom: 10vh"></div>



<div  class="yav-container" style="padding: 120px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6" >
                <h1> Votre expert de la réparation d’ordinateur à Metz! </h1>
                <p style="margin-top: 2rem">spécialisé dans les réparation d’ordinateurs portable et de bureau aux particuliers et entreprises de la ville de Metz.</p>
            </div>
        </div>
        <figure class="acerComputers drop-shadow"> <img src="{{ asset("build/services/ordinateur/acer-laptop.png") }}" alt="acerlaptops" ></figure>
    </div>
</div>

<div  class="yav-container" >
    <div class="container computerIcons">


        <div class="row">
            <div class="col">
                <i class="fa fa-bug" aria-hidden="true"></i>
                <div>Virus</div>
                <p>Nettoyage de virus de votre ordinateur avec nos logiciels spécialisé</p>
            </div>
            <div class="col">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <div>Mise à jour</div>
                <p>Mise à jour de vos système d'exploitation ou de vos logiciels que vous souhaitez </p>
            </div>
            <div class="col">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <div>Sauvegarde des données</div>
                <p> On effectue le récupération des données, et leur sauvegarde, plus craint de perde de données </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <div>Configuration d'ordinateurs</div>
                <p> Votre ordinateur a besoin d'une configuration ? On install le système exploitation souhaité et on configure votre ordinateur</p>
            </div>
            <div class="col">
                <i class="fa fa-sliders" aria-hidden="true"></i>
                <div> Installation de pilotes</div>
                <p> Des soucis avec vos pilotes ? On répare ou on réinstalle vos pilotes nécessaires</p>
            </div>
            <div  class="col">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <div>Installation de logiciels</div>
                <p> Vous avez besoin d'installer des logiciels et vous ne savez pas comment ? On est là pour vous</p>
            </div>
        </div>
    </div>
</div>



<div id="serviceOrdi-dissableComputer-declancheur"  class="yav-container yav-container-dark" >
    <div class="container">
        <div class="row">
            <div class="serviceOrdi-dissableComputer-content col-md-6 offset-md-6" >
                <h1>Réparation! </h1>
                <p style="margin-top: 2rem">Notre équipe de Metz est à l'aise avec la réparation de tous types d'appareils et ordinateurs.
                    Peu importe le problème que vous éprouvez, qu'il s'agisse d'une défectuosité affectant un parc informatique entier, d'une composante spécifique qui a rendu l'âme ou d'un logiciel malveillant qui a envahi votre ordinateur, Repar' and Go  s’occupe des gens de Metz.</p>
            </div>
        </div>
        <figure class="serviceOrdi-dissableComputer"> <img src="{{ asset("build/services/ordinateur/dissambled-computer.jpg") }}" alt="ordinateurPiece" ></figure>

    </div>
</div>








    {{ encore_entry_script_tags('service_ordinateur') }}


{% endblock %}
