
/*logo*/
.logo-vektor{
    height: 27px;
    width: 36px;
    margin-top: -4px;
}
.logo{
    height: 25px;
    width: 147px;
}


/*footer */
footer{

    background: black;
    color: #d0cab8;
}
.footer-coordinates{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 78px;
    padding: 59px 105px 0 97px;
}
.footer-phones{
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-style: oblique;
    justify-content: space-around;
    flex-wrap: nowrap;
}



/*navbar*/
.navbar-brand span{
    margin: 0 -4px 0 -7px;
}
a{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

header{
    font-family: 'Quicksand', sans-serif;

}
.nav-item a{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

.navbar {
    padding: 6px 70px;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.menuPhone{
    position: absolute;
    margin: 6px 0 0 22px;
    background: #ffffff;
    width: 222px;
    /*display: none;*/
    padding: 0 0 17px 13px;
    box-shadow:  1px 1px 5px 1px  rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /*transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;*/

}
.titleMenuDrop{
    font-weight: 500;
    margin-top: 8px;
}
.menuPhone hr{
    margin-top: 3px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 88%;
    float: left;
}
.list-item-drop{
    display: inline-grid;
}
.list-item-drop a{
    font-weight: lighter;
    text-decoration-line: none;
    color: black;
    transition:   0.7s ease;

}
.list-item-drop a:hover{
    color: black;
    font-weight: bold;
}

nav{
    z-index: 99;
}
nav{
background-color: #f7da4e;
color: black;
}
nav a {
    color: #fff3f3;
    font-weight: bold;
}
nav.main ul li.fade-link div {
    opacity: 0;
    /*visibility: hidden;*/
    visibility: visible;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
nav.main ul li.fade-link:hover div {
    visibility: visible;
    opacity: 1;
}

.menuService{
    width: 100%;
    position: absolute;
    margin: 6px 0 0 0;
    background: #000000;
    /* display: none; */
    padding: 45px 48px 50px 9px;
    box-shadow:  1px 1px 5px 1px  rgba(0, 0, 0, 0.2);
    left: 0;
}

.menuService h5{
    color: white;
}
.menuService p{
    color: #9f9797;
}
.menuService-img{
   width: 100%;
}
.menuService .row .col{
    padding: 0 0 0 34px;
}

.menuService .row .col img{
    margin-top: 50px;
}

nav.main ul li.fade-service div {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
nav.main ul li.fade-service:hover div {
    visibility: visible;
    opacity: 1;
}


/*hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/hero12.jfif");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -99;
}



/*testimonials */

.testim-title{
    display: flex;
    color: black;
}
.testim-title h1{
    font-weight: 300;
    margin: 24px auto;
}
.testim-title img{
    position: absolute;
    right: 16px;
    width: 346px;
    top: 9px;
}


/*home page content*/
.boutique-content{
    z-index: -99;
    background-color: black;
    height: 105vh;
    display: flex;
    flex-wrap: wrap;
}
.boutique-content .col-6{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
#boutique-img{
    width: 708px;
    z-index: 50;
    height: 380px;
    position: absolute;
    left: 134px;
    top: 227px;
    border: white;
    border-width: 78px;
    box-shadow: 0px -1px 11px 0px rgb(255 255 255);
    border-radius: 10px;
}
#fayette-img{
    width: 816px;
    z-index: 40;
    position: absolute;
    top: 0;
    left: -168px;
    border-radius: 1px;
}

/*vektors */
.vektors-home p{
    text-align: center;
}
.vektors-home{
    padding: 18px 41px 0 11px;
    display: flex;
    margin-top: 40px;
}
.vektors-home i:hover{
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    color: #0092d6;
}





/*google avis */
.avis-google-container{
    height: 281px;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
}
.google-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.google-left div{
    font-weight: 300;
    font-size: 31px;
    margin-top: 52px;
    margin-bottom: 15px;
}
.google-left img{
    width: 264px;
}


/*product page*/
.phone-conainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 14px 14px;

}
.phone-card{
    width: 310px;
    height: 483px;
    margin: 8px 6px;
    transition:   0.5s ease;
}
.phone-card:hover{
    box-shadow: 0px 0px 3px 0px rgb(0 0 0);
}
.phone-card-img img{
    width: 310px;
    height: 483px;
    object-fit: cover;
}
.phone-card-text{
    text-align: center;
    margin: -51px 0 0 0;
    font-size: 18px;
    font-weight: 300;
}
.prices-list-title{
    margin: 61px 0 0 0;font-size: 19px;font-weight: 400;font-style: italic;
}
.reparation-prices img{
    width: 38px;position: absolute;top: 248px;    transform: rotate(21deg);
}
.prices-list{
    font-weight: 300;
    font-style: oblique;
}









