/*@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');*/

/*general*/
a{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}
header{
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #001bff;
    color: #454545;
    /*font-family: 'Cabin-Regular';*/
    font-size: 22px;
}

/*logo*/
.logo-vektor{
    height: 27px;
    width: 36px;
    margin-top: -4px;
}
.logo{
    height: 25px;
    width: 147px;
}


/*footer */
footer{

    background: black;
    color: #d0cab8;
}
.footer-coordinates{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 78px;
    padding: 59px 105px 0 97px;
}
.footer-phones{
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-style: oblique;
    justify-content: space-around;
    flex-wrap: nowrap;
}



/*navbar*/
.navbar-brand span{
    margin: 0 -4px 0 -7px;
}



.nav-item a{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

.navbar {
    padding: 6px 70px;
    background-color: #141316;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    position: fixed; !important;
    width: 100%;
}

.navbar a {
    color: white;
    background-color: transparent;
}
nav{
    z-index: 99;
}

.navbar.nav-transp {
    background-color: rgba(0, 0, 0, 0.3);
}
nav a {
    color: #fff3f3;
    font-weight: bold;
}
nav.main ul li.fade-link div {
    opacity: 0;
    /*visibility: hidden;*/
    visibility: visible;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
nav.main ul li.fade-link:hover div {
    visibility: visible;
    opacity: 1;
}


/*navbar menu phones */
.menuPhone{
    position: absolute;
    margin: 6px 0 0 22px;
    background: #ffffff;
    width: 222px;
    padding: 0 0 17px 13px;
    box-shadow:  1px 1px 5px 1px  rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.titleMenuDrop{
    font-weight: 500;
    margin-top: 8px;
    font-size: 18px;
}
.menuPhone hr{
    margin-top: 3px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 88%;
    float: left;
}
.list-item-drop{
    display: inline-grid;
}
.list-item-drop a{
    font-weight: lighter;
    text-decoration-line: none;
    color: black;
    transition:   0.7s ease;

}
.list-item-drop a:hover{
    color: black;
    font-weight: bold;
}


/*navbar menu service */
.menuService{
    width: 100%;
    position: absolute;
    margin: 0 0 0 0;
    background: #000000;
    display: block;
    padding: 80px 48px 67px 7px;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%);
    left: 0;
    top: 0;
    z-index: -1;
}
.menuService h5{
    color: white;
}
.menuService p{
    color: #9f9797;
}
.menuService-img{
    width: 100%;
    height: auto;
}
.menuService .row .col{
    padding: 0 0 0 34px;
}
.menuService .row .col img{
    margin-top: 50px;
}
nav.main ul li.fade-service div {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
nav.main ul li.fade-service:hover div {
    visibility: visible;
    opacity: 1;
}


/*hero image */
.hero-image {
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -99;
}



/*testimonials */

.testim-title{
    display: flex;
    color: black;
}
.testim-title h1{
    font-weight: 300;
    margin: 24px auto;
}
.testim-title img{
    position: absolute;
    right: 16px;
    width: 346px;
    top: 9px;
}


/*home page content*/

.yav-container{
    position: relative;
    padding: 70px 0;
    background-color: #fff;
    overflow: hidden;
}

.yav-container-dark {
    background-color: #141316;
    color: white;
}






.iphone-s1-6 {
    -webkit-transform: translate(-67%, -54%);;
    -ms-transform: translate(-67%, -54%);;
    transform: translate(-67%, -54%);;
    opacity: 0;
    margin-bottom: -451px;
    -webkit-transition: 1s .3s;
    transition: 1s .3s;
}
.iphone-s1-6.show {
    -webkit-transform: translate(-46%, -47%);
    -ms-transform: translate(-46%, -47%);
    transform: translate(-46%, -47%);
    opacity: 1;
}



.iphone-s6 {
    width: 785px;
    height: 785px;
    -webkit-transform: translateX(calc(50% - 90px));
    -ms-transform: translateX(calc(50% - 90px));
    transform: translateX(calc(50% - 90px));
    margin-top: calc(-50% - 107px);
    margin: -259px 0 0 0;
}
.iphone-s6 img {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: 1s;
    transition: 1s;
}
.iphone-s6 img:first-of-type {
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
}
.iphone-s6 img:last-of-type {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translate(200%, 55px);
    -ms-transform: translate(200%, 55px);
    transform: translate(200%, 55px);
}
.iphone-s6.show img {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}
.iphone-s6.show img:last-of-type {
    -webkit-transform: translate(-100px, 55px);
    -ms-transform: translate(-100px, 55px);
    transform: translate(-100px, 55px);
}


.iphone-s3 {
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
    -webkit-transition: 1s .3s;
    transition: 1s .3s;
    position: relative;
}
.iphone-s3 img {
    width: 100%;
}
.iphone-s3.show {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.iphone-features-cont {
    margin-bottom: -80px;
}






.iphone-details {
    position: relative;
    z-index: 999;
}
.iphone-details h4 {
    font-size: 26px;
}
.iphone-details p {
    font-size: 19px;
    font-family: 'Cabin-Regular';
}
.iphone-details:before, .iphone-details:after {
    content: '';
    border-style: solid;
    position: absolute;
}
.iphone-details:after {
    border-width: 1px 0 0 0;
    width: 68px;
    top: 15px;
}
.iphone-details:before {
    border-radius: 100%;
    border-width: 1px;
    height: 8px;
    width: 8px;
    top: 12px;
}

.iphone-details.left {
    left: 0;
}
.iphone-details.left:before, .iphone-details.left:after {
    left: 100%;
}
.iphone-details.left:before {
    margin-left: 10px;
}
.iphone-details.left:after {
    margin-left: 25px;
}

.iphone-details.right {
    right: 0;
}
.iphone-details.right:before, .iphone-details.right:after {
    right: 100%;
}
.iphone-details.right:before {
    margin-right: 10px;
}
.iphone-details.right:after {
    margin-right: 25px;
}

.iphone-details:nth-of-type(1), .iphone-details:nth-of-type(3) {
    margin-top: 225px;
}

.iphone-details:nth-of-type(2), .iphone-details:nth-of-type(4) {
    margin-top: 200px;
}


.boutique-content{
    z-index: -99;
    background-color: black;
    height: 105vh;
    display: flex;
    flex-wrap: wrap;
}
.boutique-content .col-6{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
#boutique-img{
    width: 708px;
    z-index: 50;
    height: 380px;
    position: absolute;
    left: 134px;
    top: 227px;
    border: white;
    border-width: 78px;
    box-shadow: 0px -1px 11px 0px rgb(255 255 255);
    border-radius: 10px;
}
#fayette-img{
    width: 816px;
    z-index: 40;
    position: absolute;
    top: 0;
    left: -168px;
    border-radius: 1px;
}

/*vektors */
.vektors-home p{
    text-align: center;
    font-size: 15px;
}
.vektors-home{
    padding: 18px 41px 0 11px;
    display: flex;
    margin-top: 40px;
}

.vektors-home img:nth-of-type(2){
    display: none;
}
.showRed{
    display: block;
    z-index: 999;
}
.removeShowRed{
    display: none;
}



.vektors-home i:hover{
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    color: #0092d6;
}





/*google avis */
.avis-google-container{
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    margin-top: 152px;
    margin-bottom: 217px;
}
.google-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.google-left div{
    font-weight: 300;
    font-size: 31px;
    margin-top: 52px;
    margin-bottom: 15px;
}
.google-left img{
    width: 264px;
}


/*product page*/
.phone-conainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 14px 14px;

}
.phone-card{
    width: 310px;
    height: 483px;
    margin: 8px 6px;
    transition:   0.5s ease;
}
.phone-card:hover{
    box-shadow: 0px 0px 3px 0px rgb(0 0 0);
}
.phone-card-img img{
    width: 310px;
    height: 483px;
    object-fit: cover;
}
.phone-card-text{
    text-align: center;
    margin: -51px 0 0 0;
    font-size: 18px;
    font-weight: 300;
}
.prices-list-title{
    margin: 61px 0 0 0;font-size: 19px;font-weight: 400;font-style: italic;
}
.reparation-prices img{
    width: 38px;position: absolute;top: 248px;    transform: rotate(21deg);
}
.prices-list{
    font-weight: 300;
    font-style: oblique;
}


.mt-100{
    margin-top: 100px;
}

.mt-80 {
    margin-top: 80px;
}
.mt-70 {
    margin-top: 70px;
}
hr {
    position: relative;
    color: inherit;
    width: 120px;
    border-top: 1px solid;
}
.phoneOutside-left{
    height: 505px;
    position: absolute;
    width: 206px;
    bottom: 206px;
    left: 76px;
    transform: skew(359deg,351deg);
}
.phoneOutside-right{
    display: block;
    height: 483px;
    position: absolute;
    width: 193px;
    bottom: 226px;
    right: 127px;
    transform: skew(359deg,11deg);
}
.phoneInsideTable-cote{
    height: 578px;
    position: absolute;
    width: 186px;
    bottom: 0;
    right: -33px;
    padding: 149px 0 0 0;
    color: #e6eaea;
    font-size: 15px;
    font-weight: 400;
}


.phoneInsideTable-center{
  height: 578px;position: absolute;width: 303px;bottom: 184px;right: 400px;
    padding: 56px 0 0 0;
    color: #e6eaea;
    font-size: 18px;
    font-weight: 400;
}
.phoneInsideTable-title{
    font-size: 30px;
    font-weight: 500;
}
.phoneInsideTable-containter{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 0 0 0;
}
.phoneInsideTable-containter-names {
    text-align: initial;
}
.phoneInsideTable-containter-prices {
    text-align: end;
}


.phoneInsideTable-logo{

}
.phoneInsideTable-logo img{
width: 30%;
}

.small-center-info{
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    font-size: 17px;
    color: black;
    font-style: italic;
}
.small-center-info-tampon{
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    font-size: 17px;
    color: black;
    font-style: italic;
    margin-bottom: 103px;
}

.bigCenterTitle{
    text-align: center;
    width: 100%;
    padding: 63px 0;
    font-size: 37px;
}

.phoneSpan{
    font-weight: 500;
    border: solid;
    border-radius: 32px;
    padding: 10px 14px;
    margin-left: 17px;
    border-width: 1px;
    font-style: normal;
    cursor:pointer;
}

.phoneSpan:hover{
    color: #ffa902;
    transition:  .3s;

}


@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}


