@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    height: 100%;
}
body {
    background: #cccccc;
    background: -moz-radial-gradient(center, ellipse cover, #cccccc 1%, #aaaaaa 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #cccccc 1%,#aaaaaa 100%);
    background: radial-gradient(ellipse at center, #cccccc 1%,#aaaaaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#aaaaaa',GradientType=1 );
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.reviews-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0 ,0.5);
    margin: 40px auto;
    max-width: 600px;
    max-height: 450px;
    padding: 30px;
}
#google-reviews {
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 15px;
}
.review-wrap {
    margin-bottom: 20px;
}
.review-wrap:last-of-type {
    margin-bottom: 0;
}
.author {
    margin-bottom: 15px;
}
.author-img {
    float: left;
    margin-right: 10px;
    max-width: 40px;
    transition: filter ease-in-out .3s;
}
.author-img:hover {
    filter: brightness(2);
}
.author-name {
    font-weight: 700;
}
.rating i {
    color: gold;
    padding-right: 2px;
}
.review {
    clear: both;
}