
.hero-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    margin-top: -196px;
}
.hero-container img{
    width: 100%;
    height: 100vh;
    display: block;
}
.hero-container .card{
    box-shadow: rgb(0 0 0 / 16%) 1px 4px 20px 13px;
    z-index: 5;
    transition: .3s;
}
.yellowHover{
    color: #ffa902;

}
.hero-container .card .yav-card-title-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}
.yav-card-title:hover{
    transition:  .3s;
    color: #ffa902;
}

.hero-container .card {
    bottom: -111px;
    height: 41vh;
    left: 38px;
    position: absolute;
    width: 43rem;
}

.card-small-txt-container{
    position: absolute;
    bottom: 13px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    padding: 0 5px;
    left: 0;
    color: gray;
}


.birCokAnahtar {
    /*-webkit-transform: translate(-42%, -20%);*/
    /*-ms-transform: translate(-42%, -20%);*/
    transform: translate(90%, -68%);
    opacity: 1;
    margin-bottom: -342px;
    transition: 1s .3s;
    position: absolute;
    right: 0;
}


.birCokAnahtar.show {
    /*-webkit-transform: translate(-42%, -30%);*/
    /*-ms-transform: translate(-42%, -30%);*/
    transform: translate(-46%, -68%);
    opacity: 1;
    position: absolute;
    right: 0;
}

.smoothCard-container{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    margin-bottom: 30px;
}

.smoothCard{
    width: 100%;
    padding: 48px 3rem;
    text-align: center;

}
.smoothCard:hover{

    box-shadow: rgb(0 0 0 / 16%) 5px 5px 20px;
    transition:  .3s;
}
.smoothCard:hover .smoothCard-title{
    transition:  .3s;
    color: #ffa902;
}
.smoothCard:hover i{
    transition:  .3s;
    color: #ffa902;
}

.smoothCard-title{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 12px;
}
.smoothCard i{
    font-size: 70px;
    margin-bottom: 25px;
}
.smoothCard-text{
    font-size: 15px;
}


.hero-container-ClesDeux{
    position: relative;
    padding-left: 30%;
    padding-top: 140px;
}
.hero-container-ClesDeux img{
    width: 100%;
    height: auto;
}

.hero-container-ClesDeux .card{
    z-index: 5;
    transition: .3s;
    position: absolute;
    bottom: -46px;
    width: 595px;
    left: 74px;
}
.hero-container-ClesDeux .hero-container-ClesDeux-cardBody{
    padding: 73px 35px 50px 35px;
}

.hero-container-ClesDeux .card .yav-card-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-container-ClesDeux .card .yav-card-title{
    font-size: 35px;
    margin-bottom: 14px;
}

.hero-container-ClesDeux .card .card-small-txt{
    width: 100%;
    text-align: left;
    font-size: 17px;
    padding: 0 5px;
    color: gray;
}

.yav-gallarie{
    margin-top: 231px;
    margin-bottom: 150px;
}
.yav-gallarie-title{
    width: 100%;
    padding: 0 90px;
    font-size: 40px;
    margin-bottom: 53px;
    font-weight: 600;
}

.yav-gallarie-photo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 84px;
}
.yav-gallarie-photo-container img{
    padding: 13px 5px;
    width: 381px;
}

.clesMinuteTabPrix{
    position: absolute;
    bottom: 123px;
    width: 27rem;
    left: 47px;
    height: 41vh;
}

td{
    font-weight: 400;
}



.clesMinuteSliderSection

.clesMinuteSliderSection .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
.clesMinuteScrollText {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.clesMinuteSliderSection .testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
.clesMinuteSliderSection #clesSlider .item {
    margin-bottom: 9px;
    opacity: .2;
    padding: 50px;
    text-align: center;
    -webkit-transform: scale3d(.8,.8,1);
    transform: scale3d(.8,.8,1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-top: 101px;
}
.clesMinuteSliderSection #clesSlider .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.clesMinuteSliderSection .owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
.clesMinuteSliderSection #clesSlider.owl-carousel .owl-dots .owl-dot.active span,
.clesMinuteSliderSection #clesSlider.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
.clesMinuteSliderSection #clesSlider.owl-carousel .owl-dots{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.clesMinuteSliderSection #clesSlider p{
    font-family: inherit;font-size: 27px;font-weight: 300;line-height: 1.5;margin: -12px 0 18px;
}
.clesMinuteSliderSection #clesSlider.owl-carousel .owl-dots .owl-dot{
    display: inline-block;
}
.clesMinuteSliderSection #clesSlider.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}
.clesMinuteSliderSection{
    margin-top: -105px;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .yav-gallarie{
        margin-top: 385px;
        margin-bottom: 150px;
    }
    .clesMinuteSliderSection #clesSlider p{
        font-family: inherit;font-size: 107px;font-weight: 300;line-height: 1.5;margin: -12px 0 18px;
    }
    .clesMinuteSliderSection .testimonial-name {
        background: #3190e7;
        border-radius: 12px;
        box-shadow: 0 9px 18px rgb(0 0 0 / 12%), 0 5px 7px rgb(0 0 0 / 5%);
        color: #fff;
        display: table;
        margin: -17px auto 0;
        padding: 9px 35px;
        text-align: center;
        width: auto;
        font-size: 66px;
    }
    /*cles minute*/
    .hero-container img {
        display: block;
        height: 29vh;
        width: 100%;
    }
    .card-small-txt-container {
        bottom: 126px;
        font-size: 33px;

    }

    .hero-container-ClesDeux .card .card-small-txt {
        font-weight: 900;
    }
    .phoneSpan {
        margin-left: 324px;
    }
    .clesMinuteTabPrix{
        bottom: 831px;
    }
    .clesMinuteTopCard2 i{
        font-size: 30px;
    }


    .birCokAnahtar.show {
        transform: translate(-7%,-68%);
    }

    .hero-container img {
        display: block;
        height: 29vh;
        width: 100%;
        margin-left: 39px;
    }
    .tablePrixClesMinute   i{
        font-size: 30px;
    }
    .clesMinuteTabPrix {
        top: 155px;
        left: 0;
    }
    .smoothCard-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 150px;
        padding: 0 30px;
    }
    .smoothCard i {
        font-size: 94px;
        margin-bottom: 25px;
    }
    .smoothCard-text {
        font-size: 29px;
    }
    .hero-container-ClesDeux .card {
        width: 910px;
        bottom: -325px;
        left: 74px;
        position: absolute;
        transition: .3s;
        z-index: 5;
    }
    .hero-container-ClesDeux .card .card-small-txt {
        color: grey;
        font-size: 29px;
        padding: 0 5px;
        text-align: left;
        width: 100%;
    }
    .yav-card-title {
        font-size: 45px;
        margin-bottom: 14px;
    }

    .clesMinuteSliderSection .owl-carousel .owl-item img {
        margin: 0 auto 17px;
        max-width: 70vh;
        transform-style: preserve-3d;
    }
    .imgClesMinuteScroll{
        width: 60vh;
    }
    .hero-container .card {
        bottom: 306px;
        height: 17vh;
        left: 38px;
        position: absolute;
        width: 43rem;
    }

}


