.ipadClined {
    -webkit-transform: translate(82%, -50%);
    -ms-transform: translate(82%, -50%);
    transform: translate(82%, -50%);
    opacity: 0;
    margin-bottom: -475px;
    -webkit-transition: 1s .3s;
    transition: 1s .3s;
}
.ipadClined.show {
    -webkit-transform: translate(67%, -50%);
    -ms-transform: translate(67%, -50%);
    transform: translate(67%, -50%);
    opacity: 1;
}
.ipadClined img{
    width: 647px;
}


.tabletteWhite {
    -webkit-transform: translate(0%, 40%);
    -ms-transform: translate(0%, 40%);
    transform: translate(0%, 40%);
    opacity: 0;
    -webkit-transition: 1s .3s;
    transition: 1s .3s;
}
.tabletteWhite.show {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}

.tabletteWhite img{
    width: 60%;
    margin-top: 43px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .ipadClined {
        margin-bottom: -475px;
        opacity: 1;
        -webkit-transform: translate(68%,-20%);
        -ms-transform: translate(68%,-20%);
        transform: translate(68%,-20%);
    }
    .tabletteWhite {
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
