{% extends 'base.html.twig' %}

{% block title %}ajouter phones{% endblock %}

{% block body %}

    <style>
        .entry:not(:first-of-type)
        {
            margin-top: 10px;
        }

        .glyphicon
        {
            font-size: 12px;
        }
    </style>
    <div id="hero-image-navbar-trigger" style="height: 3vh;margin-bottom: 10vh"></div>

    <div class="container" style="margin-top: 100px;margin-bottom: 250px">
        <div class="row">

                <h1 style="color:red;margin-right: 10px"> {{ marque }}</h1>
                <h1 style="color:blue"> {{ serie }}</h1>
            </div>
            <div class="control-group" id="fields">
                <label class="control-label" for="field1">Ajout de model</label>
                <div class="controls">
                    <form role="form" method="post" autocomplete="off">
                        <button style="margin-bottom: 50px" class="btn btn-success" value="valid" name="validationBtn" type="submit" >Valider</button>
                        <button onclick="smulateClick()" style="margin-bottom: 50px" class="btn btn-success"  name="validationBtn" type="button" ><i class="fa fa-plus" aria-hidden="true"></i></button>

                        <div class="entry input-group col-xs-3">
                            <input class="form-control" name="ajoutPhone[model][]" type="text" placeholder="Tapez le model.." />
                            <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"> <i class="fa fa-plus" aria-hidden="true"></i></span>
                            </button>
                        </span>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script>

        function smulateClick(){
            var btnAdd =   document.querySelector('.btn-add').click();
            btnAdd.click();
        }


//        // Keep track of clicked keys
//        var isKeyPressed = {
//            a: false, // ASCII code for 'a'
//            b: false // ASCII code for 'b'
//            // ... Other keys to check for custom key combinations
//        };
//
//        document.onkeydown = keyDownEvent => {
//            //Prevent default key actions, if desired
//            keyDownEvent.preventDefault();
//
//            // Track down key click
//            isKeyPressed[keyDownEvent.key] = true;
//
//            // Check described custom shortcut
//            if (isKeyPressed["+"] && isKeyPressed["b"]) {
//                //for example we want to check if a and b are clicked at the same time
//                //do something as custom shortcut (a & b) is clicked
//
//                // show text indicating shortcut is clicked
//                console.log("yes pressed")
//
//            }
//        };
//
//        document.onkeyup = keyUpEvent => {
//            // Prevent default key actions, if desired
//            keyUpEvent.preventDefault();
//
//            // Track down key release
//            isKeyPressed[keyUpEvent.key] = false;
//
//            // when one of the keys is released, show text indicating
//            // text is no longer clicked
//            if (!isKeyPressed["+"] || !isKeyPressed["b"]) {
//                console.log("not pressed")
//            }
//        };


        $(function()
        {
            $(document).on('click', '.btn-add', function(e)
            {
                e.preventDefault();

                var controlForm = $('.controls form:first'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('input').val('');
                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"><i class="fa fa-minus" aria-hidden="true"></i> </span>');
            }).on('click', '.btn-remove', function(e)
            {
                $(this).parents('.entry:first').remove();

                e.preventDefault();
                return false;
            });
        });

    </script>
{% endblock %}
